<link rel="stylesheet" href="./style.css">
<hr />
<h1 class="center"><strong>Pixel Art User Guide</strong></h1>
<hr />
<p>
    This document is intended to assist individuals who are less gifted with artistic skills.
    You have the opportunity to transform a picture of your choice into Pixel Art, and with the help of this guide,
    you can easily create this artwork in reality on any surface and using any technique.
</p>
<p>
    The configuration parameters will be explained to show the results you can achieve by modifying them.
    There's no need to worry if you're not successful. I'll provide assistance in finding the ideal values. The pre-defined values provide a good starting point.
    All you have to do is select an image and follow the instructions step by step.
    You'll also gain insight into the underlying processes, allowing you to create truly impressive artworks.
</p>

<hr/>
<div class="center">
    <h2 class="top">Step #1</h2>
    <h4>Preprocessing your image</h4>
</div>

<table>
    <tr>
        <td class="center half">
            This is the original image. You can set the file name with the <strong>"path"</strong> parameter. Currently, it has a resolution of <strong>{{original_shape}}</strong> pixels.
            For creating pixel art, it is advisable to use an image with strong, clear lines and no blurring.
            For example, a clean graphic will yield better results than a crowded photograph.
        </td>
        <td>
            <img class="full preview" src="{{working_dir}}/assets/original.png" alt="Image">
        </td>
    </tr>
</table>
<hr/>

<p>
    As a first step, we resize the presumably large image. You can perform the resizing using the <strong>"scale"</strong>
    parameter. This is a percentage value that determines the reduction in size. For example, if you set it
    to 50, it means the image will be half its original size. The aspect ratio of the image will be preserved!
</p>
<table>
    <tr>
        <td class="center half">
            With the chosen <strong>{{scale}}%</strong> reduction value, the image currently has a resolution of <strong>{{resized_shape}}</strong> pixels. (Now it is <strong>{{scale}}%</strong> of the original size)
            This reduction determines the level of pixelation, meaning that the higher the value, the smaller and more pixelated the image will be.
            Choose a value that you are satisfied with.
        </td>
        <td>
            <img class="full preview" src="{{working_dir}}/assets/resized.png" alt="Image">
        </td>
    </tr>
</table>
<hr/>

<p>
    During the previous processes, it is possible that the colors have become dull and the image may appear monotonous.
    In pixel art, it is common to use contrasting colors to enhance the recognition of each motif at the lowest possible resolution.
</p>
<table>
    <tr>
        <td class="center half">
            Using the <strong>{{contrast}}</strong> contrast value, you can see the image here. The value of 1.0 represents the original state, and you can increase it by decimal increments.
            The higher the number, the more contrast the image will have. Even a small decimal change can make a significant difference, so be cautious when adjusting the values.
        </td>
        <td>
            <img class="full preview" src="{{working_dir}}/assets/contrasted.png" alt="Image">
        </td>
    </tr>
</table>
<hr/>

<p>
    In its current state, the pixelated image may consist of numerous colors, and in some cases, the difference between two pixels' colors may be so small
    that it's not noticeable to the human eye. To avoid working with a wide range of colors during the creation process, you have the option to reduce these
    occurrences here.
</p>
<table>
    <tr>
        <td class="center half">
            After the previous processing, the processed image had <strong>{{original_color_count}}</strong> different colors. The set value is <strong>{{color_variance}}</strong>, which measns the entire
            image is composed of only that many colors. Keep in mind that reducing the number of colors can result in the loss of details, so finding
            the ideal value is up to you. I recommend starting with a smaller value and gradually increasing it until you are satisfied with the result.
        </td>
        <td>
            <img class="full preview" src="{{working_dir}}/assets/reduced.png" alt="Image">
        </td>
    </tr>
</table>
<hr/>

<div class="center">
    <h2 class="top">Step #2</h2>
    <h4>preparing your canvas</h4>
</div>

<p>
    After the preprocessing is done, it's time to prepare your canvas. As mentioned before, you can create your artwork on any surface,
    you just need to measure it and apply the template. You can even print out this grid and work directly with it. The template consists
    of a grid structure with numbers placed within it. Each number represents a color that you need to apply to the corresponding positions.
    You will see the color numbering in the following steps. I would like to draw your attention to the interesting fact that even from the
    placement of the numbers, your image can already be discerned.
</p>
<p style="color: red;">
    Please measure the width and height of your canvas and provide these values in millimeters for the <strong>"canvas_w"</strong> and <strong>"canvas_h"</strong> parameters.
    The currently determined size of the canvas is <strong>{{canvas_w}}x{{canvas_h}}</strong> mm. Taking into account the aspect ratio of the image and the canvas, when drawing the grid,
    you should leave a margin of <strong>{{top_border}}</strong> mm above and below the image, as well as <strong>{{side_border}}</strong> mm on each side.
    It is important that the dimensions of each cell of the grid must be <strong>{{pixel_size}}</strong> mm during the drawing process.
</p>
<p>
    All measurements are rounded to a precision of 0.5 mm, as this is the smallest increment that can be realistically processed.
    If the size of the cells are too small, try to even reduce the image size more or use  bigger canvas. It is very hard to paint small squares...
</p>

<table>
    <tr>
        <td class="center half">
            Tip: If you are manually drawing the grid, use a measuring tape to mark the endpoints of the lines on each side.
            This way, you can accurately measure the distance from the corners, ensuring they are in the correct positions.
            If you mark the points relative to each other, they may shift and the grid won't be uniform. Afterward, you just need to connect the points.
            If you add the cell size to itself in a calculator and continuously press the equals button, you will get a sequence of positions where
            you need to mark along the measuring tape.
        </td>
        <td>
            <img class="full preview" src="{{working_dir}}/assets/canvas.jpg" alt="Image">
        </td>
    </tr>
</table>
<hr/>

<img class="full" src="{{working_dir}}/assets/grid.png" alt="Image">

<hr/>
<div class="center">
    <h2 class="top">Step #3</h2>
    <h4>Filling in colours</h4>
</div>

<p>
    Here you can find the numbered colours, with the corresponding value above each colour.
    You can find the RGB value of each colour if you want to recreate the image in digital form, but it can also help you to mix your own colour.
    So you don't have to do a lot of searching in the grid to find out where the places are where you need to apply the colour, next to the color is a preview of your
    image with showing just the colour you want to apply. The order of the colours so you only need to deal with one colour at a time.
</p>
<p>
    Tip: It can be helpful to print out these documents so you can visually compare the desired color and what you have available.
    Make sure to use a printer that provides accurate colors to ensure the best results.
</p>
<p>
    Here are the numbered colors, with the corresponding values displayed above each color. You can also find the RGB values for each
    color if you prefer to recreate the image digitally. A percentage value has also been calculated, indicating what percentage of the image is
    represented by each color. By knowing the percentage value of each color, you can determine how much of each color you need to mix if you decide
    to create your own colors. This allows you to have a better estimate of the quantities required for your custom colors.
    To make it easier for you to locate the positions where each color needs to be applied in the grid, there is a preview of
    your image next to it, showing only the specific color. The colors are arranged in a specific order, allowing you to focus on one color at a time.
    This way, you can work with one color at a time without having to search through the entire grid.
</p>
<p class="center"><strong>Have fun!</strong></p>

<table class="threequarters center" style="page-break-before: always;">
{% set index = namespace(value=0) %}
    {% for color in colors %}
        <tr>
            <th class="center">Color #{{ index.value }} RGB: {{ color[:-1] }}</th>
            <th class="center">Placements ({{ color[-1] }}% of the image)</th>
        </tr>
        <tr>
            <td class="center half">
                <img class="full preview border" src="{{working_dir}}/assets/color_{{ index.value }}.png" alt="Image">
            </td>
            <td class="full">
                <img class="full preview" src="{{working_dir}}/assets/placement_{{ index.value }}.png" alt="Image">
            </td>
        </tr>
        {% if not loop.last %}
            <tr>
                <td colspan="2" class="center">
                    <hr/>
                </td>
            </tr>
        {% endif %}
        {% set index.value = index.value + 1 %}
    {% endfor %}

</table>
<h1 class="center" style="margin-top: 100px;">Congratulations, you're done!</h1>
<p class="center">
    If this little program was helpful to you and you brought one of your ideas to life, I would love to see a picture of it at dani@balintdaniel.com! :)
</p>